body {
    font-family: Arial;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
    text-align: center;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #2193b0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #176d86;
}

#result,
#history {
    margin-top: 15px;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}